<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="aculix.meetly.app">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_meeting_main"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_meeting_main"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity">
        <activity android:name="aculix.meetly.app.activity.TestActivity"></activity>
        <activity android:name="aculix.meetly.app.activity.VerifyMobileActivity" />
        <activity android:name="aculix.meetly.app.activity.VerifyEmailActivity" />
        <activity android:name="aculix.meetly.app.activity.ChangePasswordActivity" />
        <activity android:name="aculix.meetly.app.activity.ProfileActivity" />
        <activity
            android:name="aculix.meetly.app.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/app_deep_link_domain"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name="aculix.meetly.app.activity.LoginActivity" />
        <activity android:name="aculix.meetly.app.activity.RegistrationActivity" />
        <activity
            android:name="aculix.meetly.app.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="aculix.meetly.app.activity.AppIntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="aculix.meetly.app.activity.AuthenticationActivity"
            android:screenOrientation="portrait"></activity>
      <!--  <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/app_deep_link_domain"
                    android:scheme="https" />
            </intent-filter>
        </activity>-->
        <activity
            android:name="aculix.meetly.app.activity.MeetingHistoryActivity"
            android:parentActivityName="aculix.meetly.app.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="aculix.meetly.app.activity.FaqsActivity"
            android:parentActivityName="aculix.meetly.app.activity.MainActivity"
            android:screenOrientation="portrait" /> <!-- Admob -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
    </application>

</manifest>